<div [formGroup]="addressListForm">
  <h3>This is the address List Component</h3>
  <div formArrayName="addresses">
    <expander-component [group]="dataModel"
                        [isValid]="isValid()" [addRecord]="addRecordMsg"
                        [columnDefinitions]="columnDefinitions" (expandedRow2)="getRow($event)"
                        [deleteRecord]="deleteRecordMsg">
      <company-address-record
        [detailsChanged]="updateAddressDetails"
        (saveRecord)="saveAddressRecord($event)"
        (errors)="updateErrorList($event)"
        (revertRecord)="revertAddress($event)" (deleteRecord)="deleteAddress($event)"></company-address-record>

    </expander-component>
    <div *ngIf="newRecordIndicator">
      <company-address-record
        [detailsChanged]="updateAddressDetails"
        [group]="newAddressForm"
        (saveRecord)="saveAddressRecord($event)"
        (errorList)="updateErrorList($event)"
        (revertRecord)="revertAddress($event)" (deleteRecord)="deleteAddress($event)"></company-address-record>
    </div>
  </div>
  <div>
    <div class="margin-20">
      <button (click)="addAddress()"
              [disabled]="!addressListForm.valid || addressDetailsChild?.adressFormRecord?.dirty">
        Add another address
      </button>
    </div>
  </div>
<pre>Form Data {{addressListForm.value |json}}</pre>
  <pre>Data Model for Address List {{dataModel|json}}</pre>
</div>

