<!--The content below is only a placeholder and can be replaced.-->
<div>
  <!--<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <h2>Here are some links to help you start: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>-->

  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!-- we will place our fields here -->
    <!-- <expander-component>
       <address-details></address-details>
     </expander-component>-->
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name">
      <small *ngIf="!myForm.controls.name.valid" class="text-danger">
        Name is required (minimum 5 characters).
      </small>
    </div>


    <div >
      <address-list [group]="myForm.controls.addresses"></address-list>

    </div>
  <pre>Error Components number {{getErrorComponents()}}</pre>



    <button type="submit" [disabled]="!myForm?.valid">Submit</button>
    <pre> myForm valid{{myForm.valid}}</pre>
    <pre> myForm{{myForm.value |json}}</pre>
  </form>


</div>

<!--
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="name">
    <small *ngIf="!myForm.controls.name.valid" class="text-danger">
      Name is required (minimum 5 characters).
    </small>
  </div>
  &lt;!&ndash;addresses&ndash;&gt;
  <div formArrayName="addresses">
    <div *ngFor="let address of myForm.controls.addresses.controls; let i=index" class="panel panel-default">
      <div class="panel-heading">
        <span>Address {{i + 1}}</span>
        <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
      </div>
      <div class="panel-body" [formGroupName]="i">
        <address [group]="myForm.controls.addresses.controls[i]"></address>
      </div>
    </div>
  </div>

  <div class="margin-20">
    <a (click)="addAddress()" style="cursor: default">
      Add another address +
    </a>
  </div>

  <div class="margin-20">
    <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
  </div>
  <div class="clearfix"></div>

  <div class="margin-20">
    <div>myForm details:-</div>
    <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
    <pre>form value: <br>{{myForm.value | json}}</pre>
  </div>
</form>-->
