<div class="address-details-form container-fluid">
  <div [formGroup]="adressFormLocalModel">
    <div class="row">
      <div class="form-group col-xs-12" [ngClass]="{'has-error':adressFormLocalModel.controls.address.invalid}">
        <label for="address" class="required full-width" aria-required="true">
          <span class="field-name" i18n>Street Address</span>
          <strong class="required" i18n>(required)</strong>
          <input id="address" class="form-control full-width" formControlName="address" maxlength="80" />
          <control-messages *ngIf="adressFormLocalModel.controls.address.invalid"
                            [showError]="showFieldErrors"
                            [control]="adressFormLocalModel.controls.address"
                            controlId="address" label="Street" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6 col-xs-12" [ngClass]="{'has-error':adressFormLocalModel.controls.city.invalid}">
        <label for="city" class="required full-width" aria-required="true">
          <span class="field-name" i18n>City</span>
          <strong class="required" i18n>(required)</strong>
          <input id="city" class="form-control full-width" formControlName="city" maxlength="40"/>
          <control-messages *ngIf="adressFormLocalModel.controls.city.invalid"
                            [showError]="showFieldErrors"
                            [control]="adressFormLocalModel.controls.city"
                            controlId="city" label="City" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6 col-xs-12"
           [ngClass]="{'has-error':adressFormLocalModel.controls.country.invalid}">
        <label for="country" class="required full-width" aria-required="true">
          <span class="field-name" i18n>Country</span>
          <strong class="required" i18n>(required)</strong>
          <div class="full-width">
            <ng-select id="country" formControlName="country" class="required"
                       [allowClear]="false"
                       [items]="countries"
                       (typed)="typed($event)"
                       (selected)="selected($event)"
                       (removed)="removed($event)">
            </ng-select>
          </div>
          <control-messages *ngIf="adressFormLocalModel.controls.country.invalid"
                            [showError]="showFieldErrors"
                            [control]="adressFormLocalModel.controls.country"
                            controlId="country" label="Country" parentId="addressDetails"
                            parentLabel="REP Address"></control-messages>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-xs-12 col-sm-6"  >
        <label for="provText" class="full-width" >
          <span class="field-name">Province or State</span>
          <input id="provText" class="form-control full-width" formControlName="provText"/>
        </label>
      </div>
      <!--<div class="form-group col-xs-12 col-sm-6"
           [ngClass]="{'has-error':adressFormLocalModel.controls.provList.invalid}">
        <label for="provList">Province</label>
        <select class="form-control full-width" data-ng-model="adr.addressModel.stateList"
                id="provList" formControlName="provList"
                data-ng-options="province |translate for province in adr.provinces"
                ng-required="adr.hideProvinceText"></select>
      </div>-->

    </div>
   <!-- <pre>{{adressFormLocalModel.value |json}}</pre>-->
  </div>
</div>
