/* You can add global styles to this file, and also import other style files */
input{

}
label > input {
  margin-top: 5px;
  font-weight: normal;
  margin-bottom: 5px !important;
}
label > select {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;

}
.ui-select-container{
  margin-bottom: 5px;
  font-weight: normal;
}
.ng-invalid,.has-error{
border-color: #a94442;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


span.ui-select-toggle{
  width:100%;

}
.table-override{

  background-color: #fff !important;
}
.ui-select-match .btn-default{

  background-color: #fff !important;
}
.nav-item > a.active {
  border-top: #666 solid 4px !important;
  background: inherit !important;
}
.nav-item > a {
  background: #ebf2fc;
}
.nav-item > a.disabled {
    background: #eee !important;;
}

.margin-top-small {
  margin-top: 5px !important;
}
/*Added rep styles all needed?*/

/* Specifically nesting inputs so need to add this*/
label > input {
  margin-top: 5px;
  font-weight: normal;
}

label > select {
  margin-top: 5px;
  font-weight: normal;
}
