<div [formGroup]="theraListForm">
  <h3>This is the address List Component</h3>
  <div formArrayName="theraList">
    <expander-component [group]="dataModel"
                        expandOnAdd="true"
                        [isValid]="validRec" [addRecord]="addRecordMsg"
                        [columnDefinitions]="columnDefinitions"
                        [deleteRecord]="deleteRecordMsg">
      <therapeutic-classification [showErrors]="showFieldErrors" [detailsChanged]="updateDetails" (deleteRecord)="delete($event)" (errors)="processTheraErrors($event)"></therapeutic-classification>
    </expander-component>
  </div>
  <div>
    <div class="margin-20">
      <button (click)="addClassRecord()"
              [disabled]="!theraListForm.valid || addressDetailsChild?.adressFormRecord?.dirty">
        Add Therapeutic Classification
      </button>
    </div>
  </div>
</div>

