<div [formGroup]="theraListForm">
  <h3>This is the address List Component</h3>
  <div formArrayName="theraList">
    <expander-component [group]="dataModel"
                        [isValid]="validRec" [addRecord]="addRecordMsg"
                        [columnDefinitions]="columnDefinitions"
                        [deleteRecord]="deleteRecordMsg">
      <therapeutic-classification></therapeutic-classification>
    </expander-component>
  </div>
  <div>
    <div class="margin-20">
      <button (click)="addClassRecord()"
              [disabled]="!theraListForm.valid || addressDetailsChild?.adressFormRecord?.dirty">
        Add Therapeutic Classification
      </button>
    </div>
  </div>
  <pre>Form Data {{theraListForm.value |json}}</pre>
  <pre>Data Model for thera List {{dataModel|json}}</pre>
</div>

